Package: tpad-dbgsym
Package-Type: ddeb
Source: tpad
Version: 7.0.0.0-2
Auto-Built-Package: debug-symbols
Architecture: arm64
Maintainer: Andrew Smith (GNA SERVICES INC) <Andrew@GNAServicesInc.com>
Installed-Size: 314
Depends: tpad (= 7.0.0.0-2)
Section: debug
Priority: optional
Description: debug symbols for tpad
Build-Ids: 7a50fe6d3458122fd030ce4d35b371f2e87e7693
