Source: tpad
Section: editors
Priority: optional
Maintainer: Andrew Smith (GNA SERVICES INC) <Andrew@GNAServicesInc.com>
Build-Depends: debhelper (>= 12.0.0), autoconf, icu-devtools, fontconfig, locales, dh-translations, m4, autogen, automake, autotools-dev, intltool-debian, dh-autoreconf, libgtksourceview-3.0-dev, uuid-dev, libuuid1, libgtkspell3-3-dev, libgtk-3-dev, libgdk-pixbuf2.0-dev, libglib2.0-dev, libatk1.0-dev, libgucharmap-2-90-dev, gucharmap, libpixman-1-dev, libcairo-gobject2, dictionaries-common-dev, dh-exec, dh-buildinfo, devscripts, config-package-dev, apt-utils, build-essential, fakeroot, base-files, base-passwd, bash, bsdutils, coreutils, dash, debianutils, diffutils, libsystemd-dev, libsystemd0, dpkg, e2fsprogs, findutils, grep, gzip, hostname, libc-bin, login, mount, ncurses-base, ncurses-bin, perl-base, sed, tar, util-linux, make, dpkg-dev, apt-utils, libpthread-stubs0-dev, cdbs
Standards-Version: 4.1.1
#Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: git://git.debian.org/collab-maint/tpad.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/tpad.git;a=summary
#Package-List: tpad
#Package-Type: deb

Package: tpad
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libgtkspell3-3-0
Description: Simple text editor
 A simple, easy to use, fast text editor.