#!/usr/bin/make -f

# Keep using CDBS for now as the project is built around it
include /usr/share/cdbs/1/rules/autoreconf.mk
include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/autotools.mk

# Configure options
DEB_CONFIGURE_MANDIR=/usr/share/man/
DEB_CONFIGURE_EXTRA_FLAGS += --without-libmagic --docdir=/usr/share/doc/tpad --localstatedir='/var' --sharedstatedir='/var/lib'
