[Desktop Entry]
Name=tpad
GenericName=tpad Text Editor
Comment=Edit text files
Exec=tpad %U
Terminal=false
Type=Application
StartupNotify=true
MimeType=text/plain;
Icon=tpad
Categories=GNOME;GTK;Utility;TextEditor;
Actions=Window;Document;
Keywords=Text;Plaintext;Write;

[Desktop Action Window]
Name=Open a New Window
Exec=tpad
OnlyShowIn=Unity;